<div *ngIf="verOn!=true">
      <h1>No tines permiso para ver esta pagina</h1>
      <p>Intenta volver a iniciar sesion</p>
</div>
<div *ngIf="verOn!=false">
    <p>Usuario permitido</p>
    <div *ngIf="datosUsuario">
        <div>
          <p>País: {{ datosUsuario.country }}</p>
        </div>
        <div>
          <p>Nombre: {{ datosUsuario.fistname }}</p>
        </div>
        <div *ngIf="datosUsuario.lastName">
          <p>Apellido: {{ datosUsuario.lastName }}</p>
        </div>
        <div>
          <p>Nombre de usuario: {{ datosUsuario.username }}</p>
        </div>
      </div>
</div>

