<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Direccion</th>
        <th scope="col">Email</th>
        <th scope="col">Telefono</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patron of patronDatos">
        <th scope="row">{{patron.idPatron}}</th>
        <td>{{patron.nombre}}</td>
        <td>{{patron.apellido}}</td>
        <td>{{patron.direccion}}</td>
        <td>{{patron.email}}</td>
        <td>{{patron.telefono}}</td>
      </tr>
    </tbody>
  </table>