<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cuota</th>
        <th scope="col">Numero Amarre</th>
        <th scope="col">Numero Matricula</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let barco of barcoDato">
        <th scope="row">{{barco.idBarco}}</th>
        <td>{{barco.nombre}}</td>
        <td>{{barco.cuota}}</td>
        <td>{{barco.numeroAmarre}}</td>
        <td>{{barco.numeroMatricula}}</td>
      </tr>
    </tbody>
  </table>
  <button (click)="dato()">Click Me</button>