<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Destino</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let salida of salidaDatos" (click)="dato()">
        <th scope="row" >{{salida.idSalida}}</th>
        <td>{{salida.destino}}</td>
        <td>{{salida.fecha}}</td>
        <td>{{salida.hora}}</td>
        </tr>
    </tbody>
  </table>
  <button (click)="dato()">Click Me</button>