
<div class="card ">
    <div class="card-header">
        Datos Personales
    </div>
    <div class="card-body m-0">
        <app-datos-personales></app-datos-personales>
    </div>

</div>
<div class="card">
    <div class="card-header">
        Barcos
    </div>
    <div class="card-body m-0">
        <app-barcos-tabla></app-barcos-tabla>
    </div>
</div>
<div class="card">
    <div class="card-header">
        Salidas
    </div>
    <div class="card-body m-0">
        <app-salida-tabla></app-salida-tabla>
    </div>

</div>

<div class="card">
    <div class="card-header">
        Patron
    </div>
    <div class="card-body m-0">
        <app-patron-tabla></app-patron-tabla>
    </div>
</div>